*{

	margin: 0;
	padding: 0;
	font-family: arial;

}


section{

	min-height: calc(100vh - 300px);
	
	margin: 1280px;
	width: 90%;
	margin: auto;
	margin-top: 20px;

}

/*header*/

header{
		display: flex;
		align-items: flex-end;
		justify-content: center;
		height: 100px;
		width: 100%;
		background-image: url(../../media/img-nav/headerakira.jpg);
		background-attachment: contain;
		background-size: contain;
		background-repeat:round;
		}

header ul{
		
		display: flex;
		flex-flow: row nowrap;
		list-style: none;
		margin-bottom: 19px;
		margin-left: 32.2px;
}

header ul a{

			display: inline-block;
			text-decoration: none;

			margin-right: 2em;
			padding: 1em;

}

header ul a li {

			text-transform: capitalize;
							color: white;

}


/*Noticias*/
.fondo{
	position: relative;
	height: 500px;
	background-image: url(../../media/img-noticias/ghost-in-the-shell-geisha-woman-girl-nipon-flag-asian-asiati.jpg);
	background-position: center;
}

h1{
	font-family: 'Lora';
	position: absolute;
	padding: 200px 0;
	margin-bottom: 100px;
	margin-top: 20px;
	color: rgba(219, 106, 20, 1);;
	margin-left: 1em;
}


.noticiaNoticias{
	background-color: rgba(209, 208, 207,0.5);
	display: grid;
	grid-template-areas: 

			"noticia-1 noticia-1  noticia-2"
			"noticia-3 noticia-4 noticia-4"
			"noticia-3 noticia-5 noticia-6";


	grid-template-columns: repeat(4,25%);
	grid-template-rows: repeat(3,300px);




}

.noticiaTitulo{
	
	position: absolute;
	top: 85%;
	
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 2px;
	font-size: 1.1em;

}
.noticia5Titulo{

	position: absolute;
	top: 69%;
	font-size: 1.1em;
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 2px;
	

}


.noticia6Titulo{

	position: absolute;
	top: 69%;
	font-size: 1.1em;
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 2px;
	


}

.noticia2Titulo{

	position: absolute;
	top: 85%;
	font-size: 1.1em;
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 2px;
	

}

.bandaTitulo{
	margin-top: 50px;
	width: 100%;
	height: 20%;

	

}

.noticia-1{
	position: relative;
	grid-area: noticia-1;
	grid-column: noticia-1;
	margin: 0.5em;
	background-image: url(../../media/img-noticias/jonhwick-cover_yrz3.jpg);
	background-size: cover;
	background-repeat: no-repeat;



}




.noticia-2{
	position: relative;
	grid-area:noticia-2 ;
	grid-column:3/5 ;
	margin: 0.5em;
	background-image: url(../../media/img-noticias/thor.png);
	background-size: cover;
}

.noticia-3{
	margin: 0.5em;
	position: relative;
	grid-area:noticia-3 ;
	background-image: url(../../media/img-noticias/shaza.jpg);
	background-size: cover;


}

.noticia-4{
	margin: 0.5em;
	position: relative;
	grid-area:noticia-4 ;
	grid-column: 2/5;
	background-image: url(../../media/img-noticias/lupin2.jpeg);
	background-size: cover;
	background-repeat:round;

}

.noticia-5{
	
	position: relative;
	grid-area:noticia-5;
	margin: 0.5em;
	background-image: url(../../media/img-noticias/16-4-600x337.jpg);
	background-size: cover;
	background-position: center;
		

}

.noticia-6{
	
	position: relative;
	grid-area:noticia-6;
	grid-column: 3/5;
	margin: 0.5em;
	background-image: url(../../media/img-noticias/fast9.jpg);
	background-size: cover;
	background-position: center;

}


/*Footer*/

footer{

	grid-area: footer;
	

}	
.footer{

	display: flex;
	flex-flow: row nowrap;
	height: 200px;
	background-color: rgb(38, 38, 36);
	color: white;
	justify-content: center;
	align-items: flex-start;

	}

.footer div{

	margin-top: 15px;

}

.footerLogo{

	flex: 1 1 30%;

}

.footerLogo h3{
	text-align: center;

margin-bottom: 80px;

}


.footerRedes{

	flex: 1 1 30%;
}

.footerRedes p{
	text-align: center;
	margin-bottom: 20px;
	font-size: 20px;

}

.footerRedes ul li{
	margin-top: 15px;
	margin-left: 80px;
	list-style-type: none;
	
}

.footerRedesImg{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.footerRedes .footerRedesImg img{
	
	margin-right: 20px;
	height: 36px;
	width: 36px;

}

.footerRedesImg a:hover .facebookLogo{
	background-color: rgba(252, 157, 40,0.7);
	


}


.footerRedesImg a:hover .twitterLogo{
	background-color: rgba(252, 157, 40,0.7);
	border-radius: 20px;

}

.footerRedesImg a:hover .igLogo{
	background-color: rgba(252, 157, 40,0.7);
	border-radius: 20px;

}


.facebookLogo {
	border-radius: 20px;
	transition: 0.5s;
}

.twitterLogo {
	border-radius: 20px;
	transition: 0.5s;
}

.igLogo {
	border-radius: 20px;
	transition: 0.5s;
}


.footerMapa{
	text-align: center;
	flex: 1 1 30%


}


.footerMapa ul li{

	list-style-type: none;

}

.footerMapa ul li a{

	text-decoration: none;
	color:white;
	margin-top:2px;
	letter-spacing: 0.5px;


}

.footerMapa ul li:hover a{

	color:rgba(252, 157, 40,0.7);

}

@media (max-width: 900px) {


	.noticiaNoticias{

	background-color: rgba(209, 208, 207,0.5);
	display: grid;
	grid-template-areas: 

			"noticia-1 noticia-1  noticia-2"
			"noticia-4 noticia-4 noticia-4"
			"noticia-5 noticia-5 noticia-6";


	grid-template-columns: repeat(4,25%);
	grid-template-rows: repeat(3,300px);
}

.noticia-3{
	display: none;


}


.noticia-4{
	margin: 0.5em;
	position: relative;
	grid-area:noticia-4 ;
	grid-column: 1/5;
	background-image: url(../../media/img-noticias/lupin2.jpeg);
	background-size: cover;
	background-repeat:round;

}


.noticia-5{
	
	position: relative;
	grid-area:noticia-5;
	margin: 0.5em;
	background-image: url(../../media/img-noticias/16-4-600x337.jpg);
	background-size: cover;
	background-position: center;
		

}


}


@media (max-width: 700px){

.noticiaNoticias{

	background-color: rgba(209, 208, 207,0.5);
	display: grid;
	grid-template-areas: 

			"noticia-1 noticia-1 "
			"noticia-4 noticia-4 "
			"noticia-5 noticia-5 ";


	grid-template-columns: repeat(4,25%);
	grid-template-rows: repeat(3,300px);
}

.noticia-1{
	position: relative;
	grid-area: noticia-1;
	grid-column: 1/5;
	margin: 0.5em;
	background-image: url(../../media/img-noticias/jonhwick-cover_yrz3.jpg);
	background-size: cover;
	background-repeat: no-repeat;



}

.noticia-4{
	margin: 0.5em;
	position: relative;
	grid-area:noticia-4 ;
	grid-column: 1/5;
	background-image: url(../../media/img-noticias/lupin2.jpeg);
	background-size: cover;
	background-repeat:round;

}


.noticia-5{
	
	position: relative;
	grid-area:noticia-5;
	grid-column: 1/5;
	margin: 0.5em;
	background-image: url(../../media/img-noticias/16-4-600x337.jpg);
	background-size: cover;
	background-position: center;
		

}

.noticia6Titulo{

	visibility: hidden;
}
.noticia2Titulo{

	visibility: hidden;
}

}