header{
		display: flex;
		align-items: flex-end;
		justify-content: center;
		grid-area: header;
		height: 100px;
		background-image: url(../media/img-nav/headerakira.jpg);
		background-attachment: contain;
		background-size: contain;
		background-repeat:round;
	nav{

		display: flex;
		flex-flow: row nowrap;
		align-items: center;

	}		

	ul{
		
		
		list-style: none;


		a{
			display: inline-block;
			text-decoration: none;

			margin-right: 2em;
			padding: 1em;




			li{
				text-transform: capitalize;
				color: white;
			}
		}

	}

}

.bar-btn{

	display: none;
}


a:hover .headerNav{

	

}


@media (max-width: 522px){

	nav{

		ul{
			a{
				margin:0px;
				
			}
		}
	}
	
}

@media (max-width: 395px){

	nav{	

		display: flex;
		flex-flow: row nowrap;
		justify-content: center;

		ul{


			a{
				margin-right: 5px;
				padding: 0;
				border-bottom: orange solid 1px;

			}
		}
	}

}