*{

	margin: 0;
	padding: 0;
	font-family: arial;

}

@import "footer.scss";
@import "header.scss";
@import "colores.scss";

section{
	margin: auto;
	min-height: calc(100vh - 300px);
	background-color: rgba(209, 208, 207,0.5);
	margin-top: 20px;

}

/*PORTADA*/

.mainPage{
	margin: 1280px;
	width: 90%;
	margin: auto;

}



.mainPage{

	grid-area: articulos;


}

.mainPagePortada{

	background-image: url(../media/movie1.jpg);
	background-size: cover;
	padding: 200px 0;
	margin-bottom: 100px;
	margin-top: 20px;

}




.mainPagePortada h1{
	color: $Color__h1;
	margin-left: 1em;
	font-family: 'Lora';
	padding: 10px 0;
}



.mainPagePortada p{

	color: rgba(255, 185, 133, 1.0);
	margin-left: 2.6em;
	margin-top:0.5em ;
	font-size: 1em;

}


.mainPageEstrenos{
	position: relative;
	display: flex;
	justify-content: space-around;
	background-color: #9E201E;
	margin-bottom: 100px;


}

.mainPageEstrenos div{

	margin-top: 1em;

}
h2{

	font-family: 'Lora';
	color: $Color__h2;
}




.mainPageEstrenos img{

	width: auto;
	height: 285px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);


}
.mainPageEstrenos div spam:hover img{
	transition: 1s;
	transform: scale(1.2,1.2);
	
	

}


.mainPageEstrenos p{
	color:white;
	text-align: center;
	margin-top: 5px;
	letter-spacing: 0.5px;
}


.mainPageNews{

	display: grid;
	grid-template-columns: 1fr 1fr 1fr  ;
	justify-content: center;
	align-content: center;


}	

.mainPageNewsArticulo{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	margin-right: 1em;

	p{
		color:white;
		span{
			text-transform: lowercase;
			color:white;
		}
	}



}

.mainPageNews div p{
	

	text-align: center;
	margin-top: 10px;
	padding: 10px;
	height: auto;
	width: auto;
	background-color: #D02B28;

}

.mainPageNews div img{
	box-shadow: 4px 4px 1px 1px rgba(0, 0, 0, 0.8);
	width: 100%;

	height: auto;

}


/*Estrenos*/

.container{

	grid-column: 1/4;
	grid-row: 1;
	margin-bottom: 100px;
}



.estrenosContainer{
	
	
	margin: 1280px;
	width: 90%;
	margin: auto;



}
 
#galeria{

	grid-area: galeria;
	background-color: #9E201E;

} 
#galeria img{
	margin-top:10px ;
	width: 100%;
	max-height: 300px;
	max-width:  230px;
}
#galeria div:hover img{
	transition: 1s;
	transform: scale(1.2,1.2);




}

.estrenosflex{

	display: flex;
	flex-flow: row wrap;
	margin-top: 20px;
	

}

.estrenosflex__div{

	display: flex;
	flex-flow: row nowrap;
	flex: 1 1 52%;
	

}

.estrenosflex__titulo{

	

}

.estrenosflex__img{
	margin-top: 1em;
	margin-right: 1em;
	width: 147px;
	height: 214px;

}

.estrenosflex__parrafo{
	font-size: 1.2em;
	margin-top: 1em;
	margin-left: 10px;
	width: 55%;
	min-width:50% ;
	
	margin-right: 20px;




	.estrenosflex__titulo{
		color: $Color__h2;
		display: block;
		font-size: 1.5em;
		text-decoration: underline;

	}

	iframe{

		width: auto;
		height: auto;

	}

}

.estrenosflex__sinopsis{

	margin-right: 5px;

}
.estrenos__video{

	margin-top: 20px;

}


/*Contacto*/


.sectionContacto{
	
	background-image: url(../media/img-nav/john-wick-3-1280×720.jpg);
	background-attachment: contain;
	background-size: cover;
	background-repeat:none;
	height: 500px;

}

article{

	background-color: rgba(0, 0, 0,0.5);
	border-radius: 5px;
	margin: 1em;
	width: 30%;
	min-width: 30%;

	form{
		width: 80%;
		min-width: 70%;
		display: flex;
		flex-flow: column;
		flex: 1 1;
		justify-content: center;
		align-content: center;
		padding: 1em;
		margin: 1em;

		label{
			color: orange;
			margin-top: 0.5em;
		}


			input{
				min-width: 50%;
				margin-top: 0.5em;
			}
	}

}


/*Medias*/

@media (max-width: 900px) {

.mainPageEstrenos900px{
	display: none;
}
	


}






@media (max-width: 700px){

	.mainPageEstrenos{
		
		display: grid;
		grid-template-columns:40% 40%;
		justify-content: center;
			align-content: center;
			align-items: center;
		

		div{


			display: grid;
			justify-content: center;
		



			p{
				text-align: center;
				margin: auto;
				padding: auto;

			}

		}



	}


	.mainPageEstrenos900px{

		display: inline-block;

	}
	.mainPageNews{

		display: flex;
		flex-flow:column ;
		background-size: auto;
		flex:1 1 30%;

	}

	.titulo{

		text-align: center;
	}

}

@media (max-width: 570px){

	.mainPageEstrenos{

		display: grid;
		grid-template-columns: 1fr;
		justify-content: center;
		align-content: center;

		div{

			display: grid;
			justify-content: center;
		}



	}



	}